body {
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 2%;
}

.form {
    margin-top: 10vh;
    padding-top: 5%;
    padding-bottom: 10%;
    font-family: 'Pattaya', sans-serif;
}

.collapse>a{
    text-decoration: none;
    color: grey;
}

.collapse>a:first-child{
    font-family: 'Pattaya', sans-serif;
    font-size: 22px;
}

.collapse>a:active{
    background-color: rgb(172, 169, 173);
    color: #000;
}

.update {
    font-family: 'Pattaya', sans-serif;
}
