{%extends 'base.html'%}
{% load static %}
{% load crispy_forms_tags %}


{%block content%}
{{block.super}}
    <form method="post" class="card container" style="background-color: rgba(255, 255, 255, 0.5);">
        <div style="padding-left: 30%;">
            <h2 style=>Neighborhood</h2>
            <p>Create an account to know what is going on in your Neighborhood</p>
            {{form | crispy}}
            <input type="submit" class="btn btn-primary" value="Signup" style="margin-top: 5%;">
            <p>Already have an account? <a href="#" style="font-size: 20px;">Login</a></p>
        </div>

        <input type="hidden" name="next" value="{{next}}">
    </form>
{%endblock%}